@tailwind base;
@tailwind components;
@tailwind utilities;

.table,
.table-compact {
  @apply text-white;
}

.table-compact thead th,
.table thead th {
  @apply bg-secondary;
}

.table-compact thead :where(*:first-child) {
  @apply rounded-tl-lg;
}

.table-compact thead :where(*:last-child) {
  @apply rounded-tr-lg;
}

.table-compact tbody :where(*:last-child) :where(th, td):first-child {
  @apply rounded-bl-lg;
}

.table-compact tbody :where(*:last-child) :where(th, td):last-child {
  @apply rounded-br-lg;
}

.table-compact tbody th,
.table tbody th,
.table tbody td,
.table-compact tbody td {
  @apply bg-primary;
}

.table-zebra tbody tr:nth-child(even) th,
.table-zebra tbody tr:nth-child(even) td {
  @apply bg-secondary;
}

.input {
  @apply focus:outline-none;
}

.input-group :where(span) {
  @apply bg-secondary text-white font-medium;
}

.tabs {
  @apply p-2;
}

.tab {
  @apply outline-none hover:outline-none focus:outline-none active:outline-none;
}

.tab.tab-active {
  @apply text-white hover:text-white hover:scale-105;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .slideInModalError {
    @apply absolute max-w-max p-2 left-1/3 md:left-[40%]    lg:p-4 alert alert-error lg:text-base text-sm text-white shadow-lg animate-in slide-in-from-top top-8 duration-500;
  }

  .slideOutModalError {
    @apply absolute max-w-max p-2 left-1/3  md:left-[40%]   lg:p-4 alert alert-error lg:text-base text-sm text-white shadow-lg top-8 duration-500 animate-out slide-out-to-top;
  }

  .slideInModal {
    @apply absolute max-w-max p-2 left-1/4  md:left-[40%]  lg:p-4 alert alert-success lg:text-base text-sm text-white shadow-lg animate-in slide-in-from-top top-8 duration-500;
  }

  .slideOutModal {
    @apply absolute max-w-max p-2 left-1/4 md:left-[40%]   lg:p-4 alert alert-success lg:text-base text-sm text-white shadow-lg top-8 duration-500 animate-out slide-out-to-top;
  }
}
